<% @microposts.each do |micropost| %>
  <div class="item">
    <div class="post_details">
      <div class="user_info">
        <%= gravatar_for micropost.user %>
        <span class="user"><%= micropost.user.name %></span>
      </div>
        <% if micropost.images.attached? %>
          <% micropost.images.each do |image| %>
            <div class="picture">
              <%= image_tag image, class: "img" %>
            </div>
          <% end %>
        <% end %>
      <div class="comment">
        <p><%= micropost.content %></p>
      </div>
      <div class="row">
        <% micropost.choices&.each do |choice| %>
          <% if current_user.voted?(choice) %>
            <div class="col-md-6">
              <div class="voted">
                <p><%= link_to choice.name, choice_vote_path(choice.id), method: :delete %></p>
              </div>
            </div>
          <% else %>
              <div class="col-md-6">
              <div class="vote">
                <p><%= link_to choice.name, choice_vote_path(choice.id), method: :post %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
  window.onload = function() {
    new Masonry('.container',{
      itemSelector: '.item',
      columnWidth: 50,
      gutter: 3
    });
  };
</script>
