<div class="modal-dialog">
  <div class="sign_up col-md-8 col-md-offset-2">
  <h3>新規作成</h3>
    <%= form_for(@user,url: signup_path) do |f| %>
      <%= f.label :name,"ユーザー名"%>
      <%= f.text_field :name, class:'form-control'%>
      <%= f.label :email %>
      <%= f.email_field :email, class:'form-control'%>
      <%= f.label :password,"パスワード"%>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation,"パスワード確認" %>
      <%= f.password_field :password_confirmation,class: 'form-control'%>
      <div class="guest_login">
        <%= f.submit "新規作成", class: "btn-border" %>
        <p>
          <%= link_to '/auth/twitter', class: "btn btn-social btn-twitter" do %>
            <span class="fa fa-twitter"></span> Twitterアカウントでログイン
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>