<% @comment.each do |comment|%>
    <div class="col-md-4 masonry">
        <div class="post_details ">
            <div class= "user_info">
                <%= gravatar_for current_user%>
                <span class="user"><%= current_user.name %></span>
            </div>
            <%if comment.picture? %>
            <div class="picture">
                <%= image_tag comment.picture.url, class: "img" %>
            </div>
            <% end%>
            <div class= "comment">
                <p><%= comment.content%></p>
            </div>
            <%if comment.vote_1?%>
            <div class="row">
                <div class= "col-md-6">
                    <div class="vote_1">
                        <p><%= comment.vote_1%></p>
                    </div>
                </div>
            <% end%>
            <%if comment.vote_2?%>
                <div class= "col-md-6">
                    <div class="vote_2">
                        <p><%= comment.vote_2%></p>
                    </div>
                </div>
            <% end%>
            <%if comment.vote_3?%>
                <div class= "col-md-6">
                    <div class="vote_3">
                        <p><%= comment.vote_3%></p>
                    </div>
                </div>
            <% end%>
            <%if comment.vote_4?  %>
                <div class= "col-md-6">
                    <div class="vote_4">
                        <p><%= comment.vote_4%></p>
                    </div>
                </div>
            <% end%>
            </div>
        </div>
    </div>
<% end %>
