<%= render 'shared/stats' %>
<h1><%= @title %></h1>
<% @users.each do |user| %>
  <div class="follow_list">
    <p class="gravatar_follow"><%= gravatar_for user %></p>
    <h4 class="user"><%= link_to user.name, user %></h4>
  </div>
<% end %>
<%= will_paginate %>