<div class="follow_container">
  <div class="follow_user_info">
    <p class="gravatar_for"><%= gravatar_for current_user %></p>
    <h4 class="user"><%= current_user.name %></h4>
  </div>
  <div class="stats">
    <div class="follow_stats">
      <div class="follow">フォロー</div>
      <div class="follow_count">（ 30 ）</div>
    </div>
    <div class="follow_stats">
      <div class="follow">フォロワー</div>
      <div class="follow_count">（ 30 ）</div>
    </div>
  </div>
  <div class="follow_list">
    <p class="gravatar_for"><%= gravatar_for current_user %></p>
    <p class="user"><%= current_user.name %></p>
  </div>
  <div class="follow_list">
    <p class="gravatar_for"><%= gravatar_for current_user %></p>
    <p class="user"><%= current_user.name %></p>
  </div>
  <div class="follow_list">
    <p class="gravatar_for"><%= gravatar_for current_user %></p>
    <p class="user"><%= current_user.name %></p>
  </div>
  <div class="follow_list">
    <p class="gravatar_for"><%= gravatar_for current_user %></p>
    <p class="user"><%= current_user.name %></p>
  </div>
</div>
<% @microposts.each do |micropost| %>
  <div class="container_show">
    <div class="post_details_show">
      <div class= "user_info">
        <%= gravatar_for current_user %>
        <span class="user"><%= micropost.user.name %></span>
      </div>
        <% if micropost.images.attached? %>
          <% micropost.images.each do |image| %>
            <div class="picture">
              <%= image_tag image, class: "img" %>
            </div>
          <% end %>
        <% end %>
      <div class="comment">
        <p><%= micropost.content %></p>
      </div>
      <div class="row">
        <% micropost.choices&.each do |choice| %>
          <% if current_user.voted?(choice) %>
            <div class="col-md-6">
              <div class="voted">
                <p><%= link_to choice.name, choice_vote_path(choice.id), method: :delete %></p>
              </div>
            </div>
          <% else %>
              <div class="col-md-6">
              <div class="vote">
                <p><%= link_to choice.name, choice_vote_path(choice.id), method: :post %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="choice">
    <div class="chart"></div>
      <ul class="choice_name">
        <li>No1</li>
        <li>No2</li>
        <li>No3</li>
        <li>No4</li>
      </ul>
    </div>
  </div>
<% end %>

