<%= render 'shared/stats', user: @user %>
<% @microposts.each_with_index do |micropost, i| %>
  <div class="container_show">
    <div class="<%= @colors.shuffle[i % 4] %>">
      <div class= "user_info">
        <%= gravatar_for micropost.user %>
        <span class="user"><%= micropost.user.name %></span>
      </div>
        <% if micropost.images.attached? %>
          <% micropost.images.each do |image| %>
            <div class="picture">
              <%= image_tag image, class: "img" %>
            </div>
          <% end %>
        <% end %>
      <div class="comment">
        <p><%= micropost.content %></p>
      </div>
      <div class="row">
        <% micropost.choices&.each do |choice| %>
          <div id="choice_<%= choice.id %>">
            <% if current_user.voted?(choice) %>
              <button class="voted">
                <%= link_to choice.name, choice_vote_path(choice.id), method: :delete %>
              </button>
            <% else %>
              <button class="vote">
                <%= link_to choice.name, choice_vote_path(choice.id), method: :post %>
              </button>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="choice" id="chart-<%= micropost.id %>">
      <%= render 'pie_chart', micropost: micropost %>
    </div>
  </div>
<% end %>