<%= render "users/follow_container" %>
<% @microposts.each do |micropost| %>
  <div class="container_show">
    <div class="post_details_show">
      <div class= "user_info">
        <%= gravatar_for micropost.user %>
        <span class="user"><%= micropost.user.name %></span>
        <%= render partial: 'users/follow_unfollow', locals: { user: @user } %>
      </div>
        <% if micropost.images.attached? %>
          <% micropost.images.each do |image| %>
            <div class="picture">
              <%= image_tag image, class: "img" %>
            </div>
          <% end %>
        <% end %>
      <div class="comment">
        <p><%= micropost.content %></p>
      </div>
      <div class="row">
        <% micropost.choices&.each do |choice| %>
          <% method = current_user.voted?(choice) ? 'delete' : 'post' %>
          <div class="col-md-12">
            <button class="<%=current_user.voted?(choice) ? 'voted' : 'vote' %>">
              <%= link_to choice.name, choice_vote_path(choice.id), method: method %>
            </button>
          </div>
        <% end %>
      </div>
    </div>
    <div class="choice">
      <%= pie_chart micropost.choices.joins(:votes).map { |m| [m.name, m.votes.count] }.to_h, donut: true %>
      <% micropost&.choices&.each do |choice| %>
        <table>
          <tr>
          <th><%= choice.name %></th>
            <td><%= choice.votes.count %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
<% end %>