<div class="item profile">
  <div class="profile_container">
    <div class="image_container">
      <span class="edit"><%= link_to '編集', edit_user_path, remote: true, class: "btn-border-sm"%></span>
      <div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image.variant(resize: "400x400").processed, class: "image" %>
      <% else %>
        <div class="default_image"></div>
      <% end %>
      <div class="avater_container">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar.variant(resize: "100x100").processed, class: "avatar_profile " %>
        <% else %>
          <%= gravatar_profile @user %>
        <% end %>
      </div>
    </div>
    <div class="profile_user_info">
      <div class="user_name">
        <p><%= @user.name %></p>
      </div>
      <div class="follow">
        <div class="follow_count">
          <a " href="<%= following_user_path(@user) %>">
            <strong id="following" class="stat">
              <%= @user.following.count %>
            </strong>
            フォロー中
          </a>
          <a href="<%= followers_user_path(@user) %>">
            <strong id="followers" class="stat">
              <%= @user.followers.count %>
            </strong>
            フォロワー
          </a>
        </div>
        <%= render partial: 'users/follow_unfollow', locals: { user: @user } %>
      </div>
    </div>
    <div class="introduction">
      <p><%= @user.introduction%></p>
    </div>
  </div>
</div>
<% @microposts.each_with_index do |micropost, i| %>
  <div class="item">
      <div class="<%= @colors.shuffle[i % 4] %>">
        <div class="user_info">
          <% if micropost.user.avatar.attached? %>
            <%= image_tag micropost.user.avatar.variant(resize: "50x50").processed, class: "avatar " %>
          <% else %>
            <%= gravatar_for micropost.user %>
          <% end %>
          <span class="user"><%= link_to micropost.user.name, micropost_path(micropost) %></span>
        </div>
          <% if micropost.images.attached? %>
            <% micropost.images.each do |image| %>
              <div class="picture">
                <%= image_tag image.variant(resize: "500x500"), class: "img" %>
              </div>
            <% end %>
          <% end %>
        <div class="comment">
          <p><%= micropost.content %></p>
        </div>
        <div class="row">
          <% micropost.choices&.each do |choice| %>
            <div id="choice_<%= choice.id %>">
              <%= render 'static_pages/choice', choice: choice %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
<% end %>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
  window.onload = function() {
    new Masonry('.container',{
      itemSelector: '.item',
      columnWidth: 50,
      gutter: 3
    });
  };
</script>

