<div class="modal-dialog">
  <%= form_with model: @micropost, local: true do |f| %>
    <div class="sign_up col-md-8 col-md-offset-2">
      <%= render 'shared/error_messeges', object: f.object %>
      <div class= "user_info">
        <%= gravatar_for @micropost.user %>
        <span class="user"><%= @micropost.user.name %></span>
      </div>
      <% if @micropost.image.attached? %>
        <div class="picture">
          <%= image_tag @micropost.image, class: "img", id: :img_prev %>
          <p class="img_check">削除する画像はチェックしてください<%= f.check_box :image_id, {:multiple => true}, @micropost.image.id, false %></p>
        </div>
      <% end %>
      <label class="label">
        <i class="fa fa-image" ><%= f.file_field :image, id: :user_img %></i>
      </label>
      <%= f.text_area :content, placeholder: "コメントを記入して下さい",class: "content" %>
      <div id="detail-association-insertion-point">
        <div class="judgement-btn">
          <%= link_to_add_association 'ボタンを追加', f, :choices,
          class: "btn-border-sm",
          data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'append' }
           %>
          <%= f.submit "更新", class: "btn-border-sm" %>
          <%= f.fields_for :choices, @micropost.choices.where(user_id: @micropost.user.id) do |c| %>
            <%= render 'choice_fields', f: c %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#user_img").change(function(){
        readURL(this);
    });
  });
</script>