<div class="back-1 col-md-4 col-md-offset-2">
  <%= form_with model: @micropost, local: true do |f|%>
    <%= render 'shared/error_messeges', object: f.object%>
    <div class="field col-md-12">
      <span class="picture">
        <%= f.file_field :images, multiple: true %>
      </span>
      <%= f.text_area :content, placeholder: "コメントを記入して下さい",class: "content" %>
    </div>
    <div id="detail-association-insertion-point">
      <%= link_to_add_association 'ボタンを追加', f, :choices,
      data: {
      association_insertion_node: '#detail-association-insertion-point',
      association_insertion_method: 'append' }
       %>
      <%= f.fields_for :choices do |c| %>
        <%= render 'choice_fields', f: c %>
      <% end %>
    </div>
    <div class="judgement-btn">
      <%= f.submit "Judgement?", class: "btn-border" %>
    </div>
  <% end %>
</div>