<%= render 'shared/stats', user: @micropost.user %>
<div class="container_show">
  <div class="<%= @colors.sample %>">
    <div class= "user_info">
      <%= gravatar_for @micropost.user %>
      <span class="user"><%= @micropost.user.name %></span>
      <% if current_user?(@micropost.user) %>
        <span class="edit"><%= link_to '編集', edit_micropost_path %></span>
      <% end %>
    </div>
      <% if @micropost.images.attached? %>
        <% @micropost.images.each do |image| %>
          <div class="picture">
            <%= image_tag image, class: "img" %>
          </div>
        <% end %>
      <% end %>
    <div class="comment">
      <p><%= @micropost.content %></p>
    </div>
    <% @micropost.choices&.each do |choice| %>
      <div class="choice_show_row">
        <div id="choice_<%= choice.id %>">
          <%= render 'static_pages/choice', choice: choice %>
        </div>
        <%= link_to "削除", choice_path(choice.id), method: :delete, data: { confirm: "『#{choice.name}』を削除しますか？", cancel: 'やめる', title: '削除確認' } %>
      </div>
    <% end %>
  </div>
  <div class="choice" id="chart-<%= @micropost.id %>">
    <%= render 'users/pie_chart', micropost: @micropost %>
  </div>
</div>