<div class="container_show">
  <div class="side_bar">
    <%= render 'layouts/side-bar' %>
    <%= render 'shared/stats', user: @micropost.user %>
  </div>
  <div class="<%= @colors.sample %>">
    <% if current_user?(@micropost.user) %>
      <span class="edit"><%= link_to '編集', edit_micropost_path, remote: true, class: "btn-border-sm"%></span>
      <div id="" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <% end %>
    <div class= "user_info">
      <% if @micropost.user.avatar.attached? %>
        <%= image_tag @micropost.user.avatar.variant(resize: "50x50").processed, class: "avatar " %>
      <% else %>
        <%= gravatar_for @micropost.user %>
      <% end %>
      <span class="user"><%= @micropost.user.name %></span>
    </div>
      <% if @micropost.image.attached? %>
        <div class="picture">
          <%= link_to @micropost.image, "data-lightbox" => @micropost.image do %>
            <%= image_tag @micropost.image, class: "img" %>
          <% end %>
        </div>
      <% end %>
    <div class="comment">
      <p><%= @micropost.content %></p>
    </div>
    <%= form_with model: @micropost, local: true do |f|%>
    <%= render 'shared/error_messeges', object: f.object%>
      <div id="detail-association-insertion-point">
        <div class="judgement-btn">
          <%= link_to_add_association 'ボタンを追加', f, :choices,
          class: "btn-border-sm",
          data: {
          association_insertion_node: '#detail-association-insertion-point',
          association_insertion_method: 'append' }
           %>
        </div>
      </div>
    <% end %>
    <% @choice.each do |choice| %>
      <div class="choice_show_row">
        <div id="choice_<%= choice.id %>">
          <%= render 'static_pages/choice', choice: choice %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="choice" id="chart-<%= @micropost.id %>">
    <%= render 'users/pie_chart', micropost: @micropost %>
  </div>
</div>