<div class="item">
  <div class="side-bar">
    <ul >
    <% if logged_in? %>
      <li><%= link_to "Home",root_path, data: { "turbolinks" => false } %></l>
      <li><%= link_to "My page",current_user %></li>
      <li><%= link_to "User list",users_path %></li>
      <li><%= link_to "Time line",'#' %></li>
      <li><%= link_to "Log out",login_path, method: :delete %></li>
    </ul>
      <%= link_to "Judgement?",new_micropost_path, class: "side_bar btn-border" %>
      <% else %>
    <ul>
      <li><%= link_to "Home",root_path %></li>
      <li><%= link_to "Sign up",signup_path %></li>
      <li><%= link_to "Login",login_path %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="top-menu ">
  <input type="checkbox" id= "input">
  <label for="input">
    <div class="line-3">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </label>

  <div class="menu-1">
    <ul>
      <li><%= link_to "ホーム",root_path %></li>
      <li><%= link_to "ログイン",'#' %></li>
      <li><%= link_to "新規",signup_path %></li>
      <li><%= link_to "アイテム",'#' %></li>
      <li><%= link_to "タイムライン",'#' %></li>
      <li><%= link_to "men",'#' %></li>
      <li><%= link_to "women",'#' %></li>
      <li><%= link_to "kids",'#' %></li>
    </ul>
  </div>
</div>