<div class= "float-left side-bar pt-md-5 col-xs-12 col-md-2">
      <ul>
        <li class= "mb-md-3"><%=link_to "ホーム",root_path%></li>
        <li class= "mb-md-3"><%=link_to "ログイン",'#'%></li>
        <li class= "mb-md-3"><%=link_to "新規",signup_path%></li>
        <li class= "mb-md-3"><%=link_to "アイテム",'#'%></li>
        <li class= "mb-md-3"><%=link_to "タイムライン",'#'%></li>
        <li class= "mb-md-3"><%=link_to "men",'#'%></li>
        <li class= "mb-md-3"><%=link_to "women",'#'%></li>
        <li class= "mb-md-3"><%=link_to "kids",'#'%></li>
      </ul>
</div>